<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
      id="com.carloseduardo.preferences.manager" version="0.3">

  <name>PreferencesManager</name>
  <description>PreferencesManager is a cordova plugin to store some data using android SharedPreferences</description>
  <license>Apache 2.0</license>
  <keywords>cordova, cordova-android, preferences, shared-preferences, store, storage, device, android</keywords>

  <platform name="android">

      <js-module src="www/PreferencesManager.js" name="PreferencesManager">
         <clobbers target="PreferencesManager" />
      </js-module>

      <js-module src="www/PreferenceKey.js" name="PreferenceKey">
          <clobbers target="PreferenceKey" />
      </js-module>

      <js-module src="www/android/PreferenceType.js" name="PreferenceType">
          <clobbers target="PreferenceType" />
      </js-module>

      <config-file target="config.xml" parent="/*">
          <feature name="PreferencesManager" >
              <param name="android-package" value="com.carloseduardo.preferences.manager.PreferencesManager"/>
          </feature>
      </config-file>

      <source-file src="src/android/com/carloseduardo/preferences/manager/PreferencesManager.java" target-dir="src/main/java/com/carloseduardo/preferences/manager" />
      <source-file src="src/android/com/carloseduardo/preferences/manager/Preferences.java" target-dir="src/main/java/com/carloseduardo/preferences/manager" />
      <source-file src="src/android/com/carloseduardo/preferences/manager/PreferencesImpl.java" target-dir="src/main/java/com/carloseduardo/preferences/manager" />
  </platform>
  <platform name="ios">

      <js-module src="www/PreferencesManager.js" name="PreferencesManager">
         <clobbers target="PreferencesManager" />
      </js-module>

      <js-module src="www/PreferenceKey.js" name="PreferenceKey">
          <clobbers target="PreferenceKey" />
      </js-module>

      <js-module src="www/ios/PreferenceType.js" name="PreferenceType">
          <clobbers target="PreferenceType" />
      </js-module>

      <config-file target="config.xml" parent="/*">
          <feature name="PreferencesManager" >
              <param name="ios-package" value="PreferencesManager"/>
          </feature>
      </config-file>

      <header-file src="src/ios/PreferencesManager.h" />
      <source-file src="src/ios/PreferencesManager.m" />
  </platform>
</plugin>
